{% extends 'courier/base.html' %}
{% load static %}
{% block head %}

<script src="{% static 'js/webCamEasy.min.js' %}"></script>

<style>
  body {
    background-color: black;
  }

  .btn-back {
    position: fixed;
    top: 30px;
    left: 30px;
  }

  .buttons {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
  }

  #take_photo_step {
    height: 100%;
    display: flex;
    align-items: center;
  }

  video {
    width: 100%;
    height: auto;
  }

  #upload-step {
    height: 100%;
    display: none;
    align-items: center;
  }
</style>
{% endblock %}

{% block content %}

<div id="upload-step">
  <img id="photo">
  <div class="buttons">
    <a id="retake-button" class="btn btn-light" href="javascript:void(retake_photo())">Retake photo</a>
    <a id="retake-button" class="btn btn-info" href="javascript:void(upload_photo())">Upload photo</a>
  </div>
</div>

<div id="take_photo_step">
  <video id="webcam" autoplay playsinline></video>
  <canvas id="canvas" class="d-none"></canvas>

  <a href="{% url 'courier:current_job' %}" class="btn-back">
    <i class="fas fa-chevron-left text-light"></i>
  </a>

  <div class="buttons">
    <a href="javascript:void(take_photo())" class="btn btn-info">
      Upload
      {% if job.status == 'picking' %}
      Pickup
      {% else %}
      Delivery
      {% endif %}
      Photo
    </a>
  </div>
</div>

<script>

  const webCamElement = document.getElementById("webcam")
  const canvasElement = document.getElementById("canvas")

  const webcam = new Webcam(webCamElement, "environment", canvasElement)
  webcam.start()

  function take_photo() {
    let picture = webcam.snap()
    console.log(picture)

    $("#photo").attr("src", picture)
    $("#take_photo_step").css("display", "none")
    $("#upload-step").css("display", "flex")
  }

  function retake_photo() {
    $("#upload-step").css("display", "none")
    $("#take_photo_step").css("display", "flex")
  }

  function upload_photo() {
    document.getElementById("canvas").toBlob(function (blob) {
      var upload_name = "{% if job.status == 'picking' %}pickup_photo{% else %}delivery_photo{% endif %}"
      var formdata = new FormData()
      formdata.append(upload_name, blob, `${upload_name}.png`)

      fetch("{% url 'courier:current_job_update_api' job.id %}", {
        method: "POST",
        body: formdata
      }).then(function (res) {
        return res.json()
      }).then(function (json) {
        if (json.success) {
          window.location.href =
            "{% if job.status == 'picking' %} {% url 'courier:current_job' %} {% else %} {% url 'courier:job_complete' %} {% endif %}"
        }
      })
    })
  }
</script>
{% endblock %}