{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
<style>
  #pills-tab a {
    color: black;
  }

  #pills-tab a:hover {
    color: #14A2B8;
    text-decoration: none;
  }

  #pills-tab a.active {
    border: 1px solid #14A2B8;
    background-color: #14A2B8;
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">JOB SUMMARY</div>
        <div class="card-body">
          {% if not job %}
          <p>Summary of job info will appear here</p>
          {% else %}
          <h4>{{job.name}}</h4>
          <span>{{job.quantity}} Item</span> <br />
          <span>{{job.get_size_display}} job</span> <br />
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-5">
        <div class="card-body">
          <ul class="nav nav-pills nav-justified align-items-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a href="#pills-info" role="tab" class="{% if step == 1 %}active{% endif %}" data-toggle="pill"
                id="pills-info-tab" aria-controls="pills-info" aria-selected="true">Item Info</a>
            </li>
            <i class="fas fa-chevron-right"></i>
            <li class="nav-item" role="presentation">
              <a class="{% if step == 2 %}active{% endif %}" href="#pills-pickup" role="tab" data-toggle="pill"
                id="pills-pickup-tab" aria-controls="pills-pickup" aria-selected="true">Pickup</a>
            </li>
            <i class="fas fa-chevron-right"></i>

            <li class="nav-item" role="presentation">
              <a class="{% if step == 3 %}active{% endif %}" href="#pills-delivery" role="tab" data-toggle="pill"
                id="pills-delivery-tab" aria-controls="pills-delivery" aria-selected="true">Delivery</a>
            </li>
            <i class="fas fa-chevron-right"></i>

            <li class="nav-item" role="presentation">
              <a class="{% if step == 4 %}active{% endif %}" href="#pills-payment" role="tab" data-toggle="pill"
                id="pills-payment-tab" aria-controls="pills-payment" aria-selected="true">Payment</a>
            </li>
          </ul>
        </div>
      </div>

      <strong>CREATE A JOB</strong>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade {% if step == 1 %}show active{% endif %}" role="tabpanel" id="pills-info"
          aria-labelledby="pills-info-tab">
          <h1>Item Info</h1>
          <form method="post" enctype="multipart/form-data">
            <strong class="text-secondary">Item Information</strong> <br />
            <div class="card bg-white mt-2 mb-5">
              <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form step1_form %}
              </div>
            </div>
            <input type="hidden" name="step" value="1">
            <button type="submit" class="btn btn-info">Save & continue</button>
          </form>
        </div>
        <div class="tab-pane fade {% if step == 2 %}show active{% endif %}" role="tabpanel" id="pills-pickup"
          aria-labelledby="pills-pickup-tab">
          <h1>Pickup</h1>

          <form method="post" enctype="multipart/form-data">
            <strong class="text-secondary">Pickup Information</strong> <br />
            <div class="card bg-white mt-2 mb-5">
              <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form step2_form %}
              </div>
            </div>
            <input type="hidden" name="step" value="2">
            <button type="button" class="btn btn-outline-info" onclick="$('#pills-info-tab').tab('show')">Back</button>
            <button type="submit" class="btn btn-info">Save & continue</button>
          </form>
        </div>
        <div class="tab-pane fade {% if step == 3 %}show active{% endif %}" role="tabpanel" id="pills-delivery"
          aria-labelledby="pills-delivery-tab">
          <h1>Delivery</h1>
        </div>
        <div class="tab-pane fade {% if step == 4 %}show active{% endif %}" role="tabpanel" id="pills-payment"
          aria-labelledby="pills-payment-tab">
          <h1>Payment</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}