<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyDj6YRuM6i-h6EgWr3M6H-f4EImXaZrO4k",
    authDomain: "dparcel-aeb5e.firebaseapp.com",
    projectId: "dparcel-aeb5e",
    storageBucket: "dparcel-aeb5e.appspot.com",
    messagingSenderId: "566105382238",
    appId: "1:566105382238:web:3a0915294c54d2cb5a43cf"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig)
</script>